body {
	background-color: gray;
	padding: 2px;
	font: 14px sans-serif;
  background-image: url("/images/bg1.jpg");
}
h1 {
}
p {
  color: black;
}

label{
  width:70px;
  display: inline-block;

}


.topnav {
  background-color: #223;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  color: #fff;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  color: white;
}

.topnav a:hover {
  background-color: #334;
  color: white;
}

.topnav a.active {
  color: white;
}