@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  font-family: 'poppins', sans-serif;
  font: 14px sans-serif;
  color: rgb(201, 201, 201);
}

body {
  height: 100%;
  width: 100%;
  background-color: gray;
  padding: 2px;
  background-image: url("/images/bg1.jpg");
}

p {
  color: black;
}

label{
  width:70px;
  display: inline-block;

}

.topnav {
  background-color: #223;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  color: #fff;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  color: white;
}

.topnav a:hover {
  background-color: #334;
  color: white;
}

.topnav a.active {
  color: white;
}
.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size:1.1em !important;
}

.container {
  margin-top: 10px;
  background-color: rgba(16, 16, 16, 0.7);
  border-radius: 10px;
  height: 100%;
}